---
language: node_js
node_js:
  - '8'

sudo: false
dist: trusty

addons:
  chrome: stable

cache:
  yarn: true
  directories:
    - node_modules

env:
  global:
    # See https://git.io/vdao3 for details.
    - JOBS=3

jobs:
  fail_fast: true
  allow_failures:
    - env: EMBER_TRY_SCENARIO=ember-canary
    - env: EMBER_TRY_SCENARIO=ember-beta

  include:
    # runs linting and tests with current locked deps

    - stage: 'Tests'
      name: 'Tests'
      script:
        - yarn run lint:js
        - yarn test

    # we recommend new addons test the current and previous LTS
    # as well as latest stable release (bonus points to beta/canary)
    - stage: 'Additional Tests'
      env: EMBER_TRY_SCENARIO=ember-lts-2.12
    - env: EMBER_TRY_SCENARIO=ember-lts-2.16
    - env: EMBER_TRY_SCENARIO=ember-release
    - env: EMBER_TRY_SCENARIO=ember-beta
    - env: EMBER_TRY_SCENARIO=ember-canary
    - env: EMBER_TRY_SCENARIO=ember-default

stages:
  - name: 'Tests'
  - name: 'Additional Tests'

script:
  - node_modules/.bin/ember try:one $EMBER_TRY_SCENARIO
