name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CI: true

jobs:
  lint:
    name: Lint
    runs-on: [ubuntu-latest]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install Dependencies
        run: yarn install

      - name: Lint Workflow
        run: yarn lint

  test:
    name: Tests
    needs: [lint]
    runs-on: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install dependencies (no lockfile)
        run: yarn install --no-lockfile

      - name: Run tests (floating dependencies)
        run: yarn test:ember

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn test:ember

  try-one:
    name: Additional Tests
    needs: [test]
    runs-on: [ubuntu-latest]

    strategy:
      matrix:
        scenario:
          - ember-lts-3.16
          - ember-lts-3.20
          - ember-release
          - ember-beta
          - ember-canary
          - ember-default-with-jquery
          - ember-classic
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 10

      - name: Install dependencies
        run: yarn install

      - name: Run tests
        run: yarn ember try:one ${{ matrix.scenario }}
